@each $key, $val in $colors {
    .text-#{$key} {
        color: $val;
    }
    .text-hover-#{$key} {
        &:hover {
            color: $val;
        }
        // &:last-child {

        // }
        // &:nth-child(2) {

        // }
    }
    .bg-#{$key} {
        background-color: $val;
    }

    //light variations
    @for $i from 1 through 9 {
        .text-#{$key}-light-#{$i} {
            color: mix(white, $val, $i * 10%);
        }
    }
    //dark variations
    @for $i from 1 through 9 {
        .text-#{$key}-dark-#{$i} {
            color: mix(black, $val, $i * 10%);
        }
    }
}